header {
    background-color: red;
    width: 100%;
    padding: 0 0 1% 0;
}

header > img {
    width: 100%;
    border: 1px solid black;
}

nav {
    background-color: blue;
    margin: 20px;
}

header > h1 {
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

nav {
    background-color: blue;
    margin: 20px;
}